.get-started-button {
  font-weight: 600;
  font-size: 1.2rem;
  color: #131212;
  background-color: #ffe364;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  /* justify-items: center; */
  /* margin-left: 70px; */

}

.get-started-button:hover {
  background-color: #ffd633;
}
.conference-expense{
    margin-left: 300px;
    align-items: center;
    justify-items: center;
    width: 300px;
    text-align: center;
      font-weight: 500;
  

}


.info-section{
    font-size: 20px;
    margin-left: 50px;
    /* align-items: center; */
    /* justify-items: center; */
    /* text-justify: auto; */
    width: 700px;
    /* display: flex; */
    display: flex;
  flex-direction: column; /* stack text vertically */
  /* text-align: center; */
  gap: 40px; /*space between divs */
  height: 450px;
  font-weight: 700;
}



.container{
    display: flex;
     gap: 200px; /*space between divs */
     height: 100vh;
     width: 200vh;
  background-image:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("https://images.unsplash.com/photo-1521737604893-d14cc237f11d");
  background-size: cover;
  background-position: center;

  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  align-items: center;
  /* filter: blur(8px); */

  /* text-align: center; */
  color: white;
  
}