.top-bar{
    /* display: flex; */
   /* height: 10vh; */
     /* width: 200vh; */
    
    /* align-items: center; */
    /* gap: 30px; */
    /* justify-content: center; */
    /* align-content: center; */
    /* margin-top: 0px; */
    /* height: 1000px; */
    /* align-content: end; */
    /* align-items: center; */
    /* justify-items: center; */
    /* background-color: rgb(103, 103, 221); */

}

.links{
    /* margin-left: 0px; */
    /* margin-top: 20px; */
    /* font-size: 25px; */
    gap: 160px;
    display: flex;
    /* flex-direction: horizontal; */
      position: fixed; 
      /* gets it to the top */
  top: 0;
  left: 0;
  /* width: 100%; */
  background-color: #000;
  padding: 16px;
  z-index: 1000;
    color: rgb(236, 223, 223); 
    text-decoration: none; /* remove underline */
    font-weight: 600;  
    
    /* margin-right: 50px; */
}
.links a:hover {
  color: #ffcc00; /* hover color */
}

.show-details-button{
    font-weight: 600;
  font-size: 1.2rem;
  color: #131212;
  background-color: #ffe364;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  /* justify-items: center; */
  /* margin-left: 70px; */

}

.show-details-button:hover {
  background-color: #ffd633;
}

.snd-bar{
 /* margin-left: 0px; */ 
    /* margin-top: 20px; */
    /* font-size: 25px; */
    /* gap: 160px; */
    display: flex;
    /* flex-direction: horizontal; */
      /* position:absolute;  */
      /* gets it to the top */
  top: 0;
  left: 0;
  /* width: 100%; */
  background-color: #4114ac;
  padding: 16px;
  z-index: 1000;
    color: rgb(238, 230, 230); 
    text-decoration: none; /* remove underline */
    font-weight: 600;  
    /* width: 800px; */
    justify-content: center;
    
    /* margin-right: 50px; */
}