
.links{
    /* margin-left: 0px; */
    /* margin-top: 20px; */
    /* font-size: 25px; */
    gap: 300px;
    display: flex;
    /* flex-direction: horizontal; */
      position: fixed; 
      /* gets it to the top */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  padding: 16px;
  z-index: 1000;
    color: rgb(236, 223, 223); 
    text-decoration: none; /* remove underline */
    font-weight: 600;  
    align-items: center;
    justify-content: center;
    
    /* margin-right: 50px; */
}
.links a:hover {
  color: #ffcc00; /* hover color */
}

.show-details-button{
    font-weight: 600;
  font-size: 1.2rem;
  color: #131212;
  background-color: #ffe364;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  /* justify-items: center; */
  /* margin-left: 70px; */

}

.show-details-button:hover {
  background-color: #ffd633;
}

.snd-bar{
 /* margin-left: 0px; */
    /* margin-top: 20px; */
    /* font-size: 25px; */
    /* gap: 160px; */
    display: flex;
    /* flex-direction: horizontal; */
      position: fixed; 
      /* gets it to the top */
  top: 0;
  left: 0;
  /* width: 100%; */
  background-color: #5f50e9;
  padding: 16px;
  z-index: 1000;
    color: rgb(236, 223, 223); 
    text-decoration: none; /* remove underline */
    font-weight: 600;  
    width:600px;
    justify-content: center;
    margin-left: 700px;
    margin-top: 111px;
    
    /* margin-right: 50px; */
}

.gh{
     display: flex;
  flex-direction: column; /* makes them stack */
  gap: 20px;              
}
.image1{
  width: 100%;
  height: 150px;
  object-fit: cover;
  justify-items: center;
  justify-content: center;
  align-items: center;


}
.image{
/* width: 1000px; */
/* height: 1000px;
align-items: center;
justify-content: center; */
justify-items: center;
background-color: #e2e1e6;
color: #000;
border-radius: 3px;
    
}
